@{
    ViewBag.Title = "Fun Begin";
}
<style>
    .btn{
       position:center;

    }
</style>
<div class="row col-lg-6">
    <div class="container">
        <p class="txt txt danger"> Create Your Jokes</p><br /><br />
        <hr class="alert-dismissable" />
        <a href="/Post/JokePost" class="btn btn-group-lg btn-warning">Joke Posts!</a>
    </div>
</div>